server:
  port: 8093

spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5433/local_delivery
    username: local
    password: local
